@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #e8e8e8;
    --color-bg-secondary: #ef4444; 
    --color-accent: #0ea5e9; 
    --color-accent-light: rgba(14, 165, 233, 0.1); 
    --color-accent-torch: rgba(29, 78, 216, 0.15); 
    --color-text: #181818;
    --color-text-1: #6d6d6d;
    --color-dark-1: #0f172a;
    --color-dark-2: #334155;  
    --color-dark-3: #cbd5e1; 
  }


  .dark {
    --color-bg: #0f172a; 
    --color-bg-secondary: #1e293b;
    --color-accent: #38bdf8; 
    --color-accent-light: rgba(56, 189, 248, 0.1);
    --color-text: #a0a0a0;
    --color-dark-1: #e2e8f0;
    --color-dark-2: #cbd5e1;
    --color-dark-3: #334155;
    --textlight: 'color-mix(in lab, var(--black) 55%, transparent)';
  }

  @font-face {
    font-family: 'Gotham Bold Italic';
    src: url('/fonts/gotham-bold-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Gotham Bold';
    src: url('/fonts/gotham-bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Gotham Book Italic';
    src: url('/fonts/gotham-book-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Gotham Book';
    src: url('/fonts/gotham-book.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Gotham Thin';
    src: url('/fonts/gotham-book.woff2') format('woff2');
    font-style: normal;
    font-weight: thin;
  }
  @font-face {
    font-family: 'Gotham Medium Italic';
    src: url('/fonts/gotham-medium-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'Gotham Medium';
    src: url('/fonts/gotham-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'Incognito';
    src: url('/fonts/incognito_medium.woff2') format('woff2');
    font-style: normal; /* Change this if the file includes italic or other styles */
    font-weight: 400; /* Medium weight, adjust as necessary */
  }
  
  @font-face {
    font-family: 'IPA Gothic';
    src: url('/fonts/ipa-gothic.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal Bold';
    src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal Book';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal Italic';
    src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'PP Neue Montreal Medium';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: 500; /* Medium */
  }
  
  @font-face {
    font-family: 'PP Neue Montreal SemiBold Italic';
    src: url('/fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
    font-style: italic;
    font-weight: 600; /* Semi-Bold */
  }
  
  @font-face {
    font-family: 'PP Neue Montreal Thin';
    src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100; /* Thin */
  }
  @font-face {
    font-family: "AgustinaSignature";
    src: url("/fonts/Agustina-Signature.otf") format('opentype');
  }
}

@layer base {
  * { 
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }
  ::selection {
    @apply dark:bg-slate-600/30 bg-slate-400/30 text-accent;
  }
}

@layer utilities {
  .null-hidden {
    position: absolute;
    &[data-hidden='true'],
    &[data-show-on-focus='true']:not(:focus) {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      word-wrap: normal;
    }
  }
  .heading-secondary,
  .h2 {
    @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
  }
  .heading-tertiary,
  .h3 {
    @apply text-xl sm:text-2xl tracking-wide capitalize font-medium text-dark-2;
  }
  @keyframes introLine {
    0% {
      transform: scaleX(0);
      opacity: 1;
    }
  
    100% {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .hero-line {
    content: '';
    height: 2px;
    background: var(--color-text-1);
    width: 120%;
    display: flex;
    margin-left: 20px;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: 'cubic-bezier(0.4, 0.0, 0.2, 1)';
    transform-origin: left;
    opacity: 0;
    position: relative;
    top: 0.05em;
    animation-name: introLine;
  }
}